services:
  dockerlock:
    build:
      context: .
      dockerfile: Dockerfile
    image: group30-522
    container_name: group30-522
    ports:
      - "8888:8888"
    volumes:
      - ./:/workspace
    working_dir: /workspace
    stdin_open: true
    tty: true